#secret-phrase {
  width: 80%;
}

#secret-phrase > span {
  border: 1px solid black;
  display: inline-block;
  width: 2em;
  height: 2em;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
}

#secret-phrase > span.space,
#secret-phrase > span.visible {
  border: 0px;
  width: 1em;
}

#secret-phrase > span > b {
  display:inline-block;
  margin:5px;
  visibility: hidden;
}

#secret-phrase > span.space > b,
#secret-phrase > span.visible > b {
  visibility: visible;
}

#gallows {
  height: 10em;
}