/* These are comments. */

/* CSS format:
 *
 * css_selector {
 *   property: value;
 *   ...
 * }
 *
 * css_selectors reference:
 *   http://www.w3schools.com/cssref/css_selectors.asp
 * properties reference:
 *   http://www.w3schools.com/cssref/default.asp
 */

#secret-phrase {
  width: 80%;
}

#secret-phrase > span {
  border: 1px solid black;
  display: inline-block;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
}

#secret-phrase > span.space,
#secret-phrase > span.visible {
  border: 0px;
  width: 1em;
}

#secret-phrase > span > b {
  /* TODO: Set 'visibility' to 'hidden' */
  display: inline-block;
  margin: 5px;
}

#secret-phrase > span.space > b,
#secret-phrase > span.visible > b {
  /* TODO: Set 'visibility' to 'visible' */
}
