#secret-phrase {
  width: 80%;
}

#secret-phrase > span {
  border: 1px solid black;
  display: inline-block;
  width: 2em;
  height: 2em;
  margin-left: 5px;
  margin-top: 5px;
  text-align:center;
}
#secret-phrase > span.space {
  background: silver;
}

#secret-phrase > span > b {
  vertical-align:middle;
  visibility: hidden;
}