#playing-field {
  width:301px;
}
#playing-field button {
  width:100px;
  height:100px;
  float:left;
  font-size:60px;
  border:0px;
}

/* lines on "paper" */
#playing-field button.mid-vert {
  border-left:3px solid black;
  border-right:3px solid black;
}
#playing-field button.mid-horiz {
  border-top:3px solid black;
  border-bottom:3px solid black;
}
